.list-row {
  &__item {
    @include flex($fd: column, $ai: center);
    transition: $t-std;

    &--relic {
      position: relative;

      @include media-md {
        &:not(:nth-child(n + 4))::before {
          content: "";
          @include absolute($t: 47px, $r: -55px);
          background-image: url(../img/relic.svg);
          background-repeat: no-repeat;
          width: 110px;
          height: 6px;
        }
      }

      @include media-lg {
        &:not(:last-child)::before {
          content: "";
          @include absolute($t: 47px, $r: -55px);
          background-image: url(../img/relic.svg);
          background-repeat: no-repeat;
          width: 110px;
          height: 6px;
        }
      }
    }
  }

  &__img {
    @include flex($jc: center, $ai: center);
    width: 100px;
    height: 100px;
    background: var(--blue-color);
    border: 5px solid #286690;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  &__icon {
    max-width: 38px;
    max-height: 41px;
  }

  &__desc {
    display: inline-block;
    @include font($fw: 400, $fs: 16px, $lh: 19px, $c: var(--light-color));
    text-align: center;
    max-width: 188px;
  }
}
