.footer {
  padding: 20px 0;
  background-color: var(--footer-background);

  @include media-lg {
    padding: 0;
  }

  &__row {
    @include flex($fd: column);

    @include media-lg {
      @include flex($fd: row, $jc: space-between);
    }
  }

  &__info {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }

  &__item {
    padding: 10px 0;
    position: relative;

    @include media-lg {
      padding: 32px 0;

      &:not(:last-child)::before {
        content: "";
        @include absolute($t: 40%, $r: -54px);
        width: 1px;
        height: 18px;
        background-color: #c3c3c3;
      }
    }
  }
}
