<section class="section section--bg-1 section--pt-214 section--pb-204">
  <div class="first-screen">
    <div class="container">
      <div class="first-screen__wrapper">
        <div class="first-screen__title">
          <h1>
            <span>Lorem ipsum</span> dolor sit<br />
            amet consectetur
            <span>adipiscing</span>
          </h1>
        </div>
        <div class="first-screen__description">
          <span
            >At vero eos et accusamus et iusto odio dignissimos ducimus!</span
          >
          <ul>
            <li>
              <span>Totam rem aperiam eaque ipsa</span>
            </li>
            <li>
              <span>Sit voluptatem accusantium doloremque laudantium</span>
            </li>
            <li>
              <span>Sed ut perspiciatis, unde omnis iste natus error</span>
            </li>
          </ul>
        </div>
        <div class="first-screen__btns">
          <button class="btn btn--sm btn--blue">заказать</button>
          <button class="btn btn--sm btn--light">подробнее</button>
        </div>
      </div>
    </div>
  </div>
</section>
