<footer class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="footer__item">
        <div class="footer__info">
          © 2018 «LoremIpsum.net» Все права защищены.
        </div>
      </div>
      <div class="footer__item">
        <ul class="list-pay">
          <li class="list-pay__item">
            <img
              src="img/pay-qiwi.svg"
              alt="pay qiwi"
              class="list-pay__img"
            /><span class="list-pay__text">QIWI wallet</span>
          </li>
          <li class="list-pay__item">
            <img
              src="img/pay_yandex.svg"
              alt="pay yandex"
              class="list-pay__img"
            /><span class="list-pay__text">Yandex Money</span>
          </li>
          <li class="list-pay__item">
            <img
              src="img/pay_wm.svg"
              alt="web money"
              class="list-pay__img"
            /><span class="list-pay__text">Web Money</span>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <ul class="social">
          <li class="social__item">
            <img src="img/social-mail.svg" alt="mail" class="social__img" /><a
              href="mailto:info@ipsum228.com<"
              class="social__link"
              >info@ipsum228.com</a
            >
          </li>
          <li class="social__item">
            <img src="img/sicial-vk.svg" alt="vk" class="social__img" /><a
              href="#"
              class="social__link"
              >Мы вконтакте</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
