<header class="header">
  <div class="container">
    <div class="header__row">
      <a href="#" class="logo">
        <img src="img/logo.svg" alt="logo" />
      </a>
      <nav class="menu" title="Главное меню" data-menu>
        <button
          class="btn-reset burger-close"
          aria-label="Закрыть меню"
          data-menu-close
        ></button>
        <ul class="menu__list">
          <li class="menu__item" data-menu-item>
            <a href="#" class="menu__link">Бизнес</a>
          </li>
          <li class="menu__item" data-menu-item>
            <a href="#" class="menu__link">О нас</a>
          </li>
          <li class="menu__item" data-menu-item>
            <a href="#" class="menu__link">Цены</a>
          </li>
          <li class="menu__item" data-menu-item>
            <a href="#" class="menu__link">Оформить заказ</a>
          </li>
        </ul>
      </nav>
      <button
        class="burger"
        aria-label="Открыть меню"
        aria-expanded="false"
        data-burger
      >
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
