<section class="section section--dark section--bg-2">
  <div class="second-screen">
    <div class="container">
      <div class="second-screen__wrapper">
        <div class="second-screen__title">
          <h2>Оформление <span>Заказа</span></h2>
        </div>
        <div class="second-screen__description">
          <span
            >Перед заполнением формы ознакомьтесь с нашей схемой работы!</span
          >
        </div>
        <div class="second-screen__list">
          <ul
            class="list-row list-row--init-1 list-row--xs-2 list-row--sm-3 list-row--md-4 list-row--lg-5"
          >
            <li class="list-row__item">
              <div class="list-row__img">
                <img
                  src="img/search.svg"
                  alt="icon search"
                  class="list-row__icon"
                />
              </div>
              <span class="list-row__desc">Lorem ipsum dolor sit amet</span>
            </li>
            <li class="list-row__item">
              <div class="list-row__img">
                <img
                  src="img/percent.svg"
                  alt="icon percent"
                  class="list-row__icon"
                />
              </div>
              <span class="list-row__desc">Сonsecteturadipiscing elit</span>
            </li>
            <li class="list-row__item">
              <div class="list-row__img">
                <img
                  src="img/subtract.svg"
                  alt="icon subtract"
                  class="list-row__icon"
                />
              </div>
              <span class="list-row__desc">Sed do eiusmod tempor</span>
            </li>
            <li class="list-row__item">
              <div class="list-row__img">
                <img
                  src="img/mail.svg"
                  alt="icon mail"
                  class="list-row__icon"
                />
              </div>
              <span class="list-row__desc">Esse cillum dolore eu fugiat</span>
            </li>
            <li class="list-row__item">
              <div class="list-row__img">
                <img
                  src="img/money.svg"
                  alt="icon money"
                  class="list-row__icon"
                />
              </div>
              <span class="list-row__desc"
                >Excepteur sint occaecat cupidatat non proident</span
              >
            </li>
          </ul>
        </div>
        <div class="second-screen__form">
          <form action="" class="form">
            <div class="form__row">
              <div class="select-wrap">
                <label>
                  <select class="select" name="select">
                    <option value="Sed ut perspiciatis">
                      Sed ut perspiciatis
                    </option>
                    <option value="Nemo enim ipsam">Nemo enim ipsam</option>
                    <option value="Et harum quidem">Et harum quidem</option>
                    <option value="Temporibus autem">Temporibus autem</option>
                    <option value="Itaque earum rerum">
                      Itaque earum rerum
                    </option>
                    <option value="Seven">Seven</option>
                    <option value="Eight">Eight</option>
                  </select>
                </label>
              </div>
              <input
                type="email"
                name="email"
                class="input"
                placeholder="Ваш e-mail"
              />
              <input
                type="text"
                name="name"
                class="input"
                placeholder="Ваше имя"
              />
            </div>
            <div class="form__row">
              <label class="input__range">
                <div class="input__range-top">
                  <span class="input__range-title"
                    >Sed ut perspiciatis, unde omnis iste natus</span
                  >
                  <output id="i1" class="input__range-number">75%</output>
                </div>
                <input
                  type="range"
                  id="r1"
                  name="range"
                  value="75"
                  max="100"
                  min="0"
                />
              </label>
              <div class="input__wrapper">
                <input
                  name="file"
                  type="file"
                  id="input__file"
                  class="input input__file"
                  multiple
                />
                <label for="input__file" class="input__file-button">
                  <span class="input__file-icon-wrapper"
                    ><img
                      class="input__file-icon"
                      src="img/file.svg"
                      alt="Выбрать файл"
                      width="25"
                  /></span>
                  <span class="input__file-button-text">Выберите файл</span>
                </label>
              </div>
            </div>
            <div class="form__row form__row--center">
              <div class="form__btn">
                <button class="btn btn--sm btn--wide btn--blue">
                  Отправить
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
