// colors
:root {
  // base
  --font-family: "Lato", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --dark-color: #000;
  --blue-color: #3e9cdc;
  --secondary-color: #bbbbbb;

  //background
  --dark-background: #272733;
  --header-background: rgba(16, 16, 29, 0.9);
  --footer-background: #3d4050;
}

//COLORS
$c-blue: #3e9cdc;
$c-hover-blue: rgba($c-blue, 0.9);
$c-active-blue: #3190cf;
$c-gray: #707079;

//BORDER-RADIUS
$br-std: 4px;

// TRANSITION
$t-std: 0.2s ease-in-out;
$t-fast: 0.1s ease-in-out;
$t-slow: 0.3s ease-in-out;
$t-all-std: all $t-std;

// MEDIA
$v-xs: 576px;
$v-sm: 768px;
$v-md: 992px;
$v-lg: 1200px;
$v-xl: 1400px;
$v-xxl: 1680px;
